/* AppComponent's private CSS styles */
h1 {
  font-size: 3.2em;
  margin-bottom: 0;
}
nav a {
  padding: 20px 30px;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 2px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}